@require '_includes/normalize'
@require '_includes/colours'
@require '_includes/fonts'
@require '_includes/footer'
@require '_includes/header'
@require '_includes/cookieconsent'

if hexo-config('syntax_theme')
  @require '_includes/syntax/' + hexo-config('syntax_theme') + '.css'

html
  background-color c-background

#wrapper
  box-sizing border-box  // Size counts along margin, not content
  min-height 100vh

  width 95%  // Try to set width to almost entire screen.
  margin auto  // Center the wrapper
  padding ((@width / 100%) * 2.5)  // Prevent text going into edges
  padding-top (@padding / 4) // We don't need much on top
  max-width 50rem + @padding  // Limit width, don't let padding cut into width

  // Sub-items
  display flex
  flex-flow column nowrap
  align-items center  // Align items to horizontal center.

main
  width 100%
  padding 1rem 0

  hr
    background-color c-lowlight
    width 100%
    margin 1.5rem auto

  img
    max-width 100%

.post_list
  display flex
  flex-flow column nowrap

.post_listing_header
  > .post_title
    margin 0

  > .timestamp,
  > .category
    font-size 0.8em
    color c-lowlight
    text-align center
    line-height 1.15em

    > a
      color c-lowlight

      &:hover
        color c-highlight

.page_nav
  text-align center
  font-size 1.5rem
  margin auto  // Center this container
  width 50%
  min-width 20rem
  box-sizing border-box

  display flex
  justify-content space-between

  > .no_link
    color c-lowlight

hr  // General styling for all HRs
  height 1px  // Can replace px with something else? Might not work out on super-high DPI screens.
  border none
  background-color c-secondary
  margin 0
