@font-face
  font-family 'Quicksand'
  font-style normal
  font-weight 300
  src url('../fonts/quicksand-v6-latin-300.eot')
  src local('Quicksand Light'), local('Quicksand-Light'),
    url('../fonts/quicksand-v6-latin-300.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/quicksand-v6-latin-300.woff2') format('woff2'), 
    url('../fonts/quicksand-v6-latin-300.woff') format('woff'), 
    url('../fonts/quicksand-v6-latin-300.ttf') format('truetype'), 
    url('../fonts/quicksand-v6-latin-300.svg#Quicksand') format('svg')
