@font-face
  font-family 'Roboto'
  font-style italic
  font-weight 700
  src url('../fonts/roboto-v16-latin-700italic.eot')
  src local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('../fonts/roboto-v16-latin-700italic.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/roboto-v16-latin-700italic.woff2') format('woff2'), 
    url('../fonts/roboto-v16-latin-700italic.woff') format('woff'), 
    url('../fonts/roboto-v16-latin-700italic.ttf') format('truetype'), 
    url('../fonts/roboto-v16-latin-700italic.svg#Roboto') format('svg')
