@font-face
  font-family 'Roboto'
  font-style normal
  font-weight 400
  src url('../fonts/roboto-v16-latin-regular.eot')
  src local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v16-latin-regular.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/roboto-v16-latin-regular.woff2') format('woff2'), 
    url('../fonts/roboto-v16-latin-regular.woff') format('woff'), 
    url('../fonts/roboto-v16-latin-regular.ttf') format('truetype'), 
    url('../fonts/roboto-v16-latin-regular.svg#Roboto') format('svg')
