@font-face
  font-family 'Roboto'
  font-style italic
  font-weight 300
  src url('../fonts/roboto-v16-latin-300italic.eot')
  src local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../fonts/roboto-v16-latin-300italic.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/roboto-v16-latin-300italic.woff2') format('woff2'), 
    url('../fonts/roboto-v16-latin-300italic.woff') format('woff'), 
    url('../fonts/roboto-v16-latin-300italic.ttf') format('truetype'), 
    url('../fonts/roboto-v16-latin-300italic.svg#Roboto') format('svg')
