@font-face
  font-family 'Roboto'
  font-style italic
  font-weight 100
  src url('../fonts/roboto-v16-latin-100italic.eot')
  src local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('../fonts/roboto-v16-latin-100italic.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/roboto-v16-latin-100italic.woff2') format('woff2'), 
    url('../fonts/roboto-v16-latin-100italic.woff') format('woff'), 
    url('../fonts/roboto-v16-latin-100italic.ttf') format('truetype'), 
    url('../fonts/roboto-v16-latin-100italic.svg#Roboto') format('svg')
