include ../mixins/fontawesome.pug

//-
  script(src=url_for('/scripts/cookieconsent.min.js'))
  script.
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000000",
          "text": "#cccccc"
        },
        "button": {
          "background": "#000000",
          "text": "#cccccc"
        }
      },
      "content": {
        "message": '#[+fa("exclamation-circle")] This website uses cookies in order to use third party services such as Twitter, Google Analytics, and Disqus.',
        "dismiss": '#[+fa("window-close")] Dismiss'
      }
    })});

script.
  window.addEventListener("load", function(){
    if (typeof(Storage) !== 'undefined') {
      switch(localStorage['ThirdPartyConsent']) {
        case undefined:  // User has not answered yet
          // Spawn popup
          break;

        case true:  // User opted in
          // Load services
          break;

        case false:  // User opted out
          // Do nothing
          break;
      }
    }
    else {}  // Web storage isn't supported by user's browser. This would be better written with cookies, but I don't care much for IE7.
  })
