-
  var favicon;
  try {
    favicon = config.halcyon.favicon
  }
  catch (error) {
    favicon = 'halcyon_favicon.png'
    if(error instanceof TypeError) {
      console.log("No favicon specified, using default.")
    }
    else {
      console.log("Unknown error while setting favicon:")
      console.log(error)
    }
  }

link(rel="icon", type="image/png", href=url_for(favicon))
