include ../mixins/fontawesome.pug

-
  var year = new Date().getFullYear()
  var author = config && config.author || ''
  var license
  if (config && config.halcyon && config.halcyon.license) {
    license = '(' + config.halcyon.license + ' license)'
  }
  else {
    license = ''
  }
  var copyrightStr = ['© ', author, year, license].filter(Boolean).join(' ');

footer
  hr
  if copyrightStr !== null
    p= copyrightStr
  p
    | Built with 
    a(href='https://hexo.io') Hexo
    |  and 
    a(href='https://gitlab.com/krakob/hexo-theme-halcyon') Halcyon
  if (config && config.halcyon && config.halcyon.repository)
    +fa('code-branch', 'lg')
    | 
    a(href=url_for(config.halcyon.repository)) Visit site repository
