include ../mixins/fontawesome.pug

mixin social_link(pug_site, pug_username)
  -
    // Set soc_info to the value returned by anonymous function
    // in order to keep global scope clean.
    // Could be rewritten to use two separate functions, thereby
    // not needing to assign anything within global scope
    // but this is more readable (no filling up the li: element)
    // and reuses the soc_obj read from _config, not reading it in twice.

    // Also I'm lazy.

    var soc_info = (function(site, username) {
      var soc_obj = theme.social[site]  // Object with info about the social site.
      var url = soc_obj.url.replace('{{username}}', username)  // Generate social URL
      var glyph
      if (typeof soc_obj.glyph === 'undefined') {
        // Default glyph.
        glyph = site;
      }
      else {
        // Overridden glyph.
        glyph = soc_obj.glyph;
      }

      return {
          url: url,
          glyph: glyph
      };
    })(pug_site, pug_username);

  li: a(href=soc_info.url): +fa(soc_info.glyph, '')

header
  h1#title: a(href=config.root) #{config.title}
  h2#subtitle= config.subtitle

  hr

  nav
    // TODO: improve accessibility here? Should be clear for screen readers which one is
    //       for the site and which one is for external links. I believe using nav for
    //       off-site links is discouraged, but it should be fine. Maybe use two navs?
    ul#nav-site
      if config.archive_dir
        li: a(href=url_for(config.archive_dir)) Archive
      if config.halcyon && config.halcyon.nav_links
        each nav_link in config.halcyon.nav_links
          li: a(href=nav_link[0]) #{nav_link[1]}

    if config && config.halcyon && config.halcyon.social
      ul#nav-social
        each soc_username, soc_site in config.halcyon.social
          //- Iteration over value, key. Not key, value! :(
          +social_link(soc_site, soc_username)

  hr
