/*!
 * Agate by Taufik Nurrohman <https://github.com/tovic>
 * ----------------------------------------------------
 *
 * #ade5fc
 * #a2fca2
 * #c6b4f0
 * #d36363
 * #fcc28c
 * #fc9b9b
 * #ffa
 * #fff
 * #333
 * #62c8f3
 * #888
 *
 */

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #333;
  color: white;
}

.name,
.strong {
  font-weight: bold;
}

.code,
.emphasis {
  font-style: italic;
}

.tag {
  color: #62c8f3;
}

.variable,
.template-variable,
.selector-id,
.selector-class {
  color: #ade5fc;
}

.string,
.bullet {
  color: #a2fca2;
}

.type,
.title,
.section,
.attribute,
.quote,
.built_in,
.builtin-name {
  color: #ffa;
}

.number,
.symbol,
.bullet {
  color: #d36363;
}

.keyword,
.selector-tag,
.literal {
  color: #fcc28c;
}

.comment,
.deletion,
.code {
  color: #888;
}

.regexp,
.link {
  color: #c6b4f0;
}

.meta {
  color: #fc9b9b;
}

.deletion {
  background-color: #fc9b9b;
  color: #333;
}

.addition {
  background-color: #a2fca2;
  color: #333;
}

 a {
  color: inherit;
}

 a:focus,
 a:hover {
  color: inherit;
  text-decoration: underline;
}
