/*
Date: 24 Fev 2015
Author: Pedro Oliveira <kanytu@gmail . com>
*/

.highlight {
  color: #a9b7c6;
  background: #282b2e;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.number,
.literal,
.symbol,
.bullet {
  color: #6897BB;
}

.keyword,
.selector-tag,
.deletion {
  color: #cc7832;
}

.variable,
.template-variable,
.link {
  color: #629755;
}

.comment,
.quote {
  color: #808080;
}

.meta {
  color: #bbb529;
}

.string,
.attribute,
.addition {
  color: #6A8759;
}

.section,
.title,
.type {
  color: #ffc66d;
}

.name,
.selector-id,
.selector-class {
  color: #e8bf6a;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
