/* Base16 Atelier Sulphurpool Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Sulphurpool Comment */
.comment,
.quote {
  color: #6b7394;
}

/* Atelier-Sulphurpool Red */
.variable,
.template-variable,
.attribute,
.tag,
.name,
.regexp,
.link,
.name,
.selector-id,
.selector-class {
  color: #c94922;
}

/* Atelier-Sulphurpool Orange */
.number,
.meta,
.built_in,
.builtin-name,
.literal,
.type,
.params {
  color: #c76b29;
}

/* Atelier-Sulphurpool Green */
.string,
.symbol,
.bullet {
  color: #ac9739;
}

/* Atelier-Sulphurpool Blue */
.title,
.section {
  color: #3d8fd1;
}

/* Atelier-Sulphurpool Purple */
.keyword,
.selector-tag {
  color: #6679cc;
}

.highlight {
  display: block;
  overflow-x: auto;
  background: #f5f7ff;
  color: #5e6687;
  padding: 0.5em;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
