/* Base16 Atelier Forest Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/forest) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Forest Comment */
.comment,
.quote {
  color: #766e6b;
}

/* Atelier-Forest Red */
.variable,
.template-variable,
.attribute,
.tag,
.name,
.regexp,
.link,
.name,
.selector-id,
.selector-class {
  color: #f22c40;
}

/* Atelier-Forest Orange */
.number,
.meta,
.built_in,
.builtin-name,
.literal,
.type,
.params {
  color: #df5320;
}

/* Atelier-Forest Green */
.string,
.symbol,
.bullet {
  color: #7b9726;
}

/* Atelier-Forest Blue */
.title,
.section {
  color: #407ee7;
}

/* Atelier-Forest Purple */
.keyword,
.selector-tag {
  color: #6666ea;
}

.highlight {
  display: block;
  overflow-x: auto;
  background: #f1efee;
  color: #68615e;
  padding: 0.5em;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
