/* Base16 Atelier Lakeside Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Lakeside Comment */
.comment,
.quote {
  color: #7195a8;
}

/* Atelier-Lakeside Red */
.variable,
.template-variable,
.attribute,
.tag,
.name,
.regexp,
.link,
.name,
.selector-id,
.selector-class {
  color: #d22d72;
}

/* Atelier-Lakeside Orange */
.number,
.meta,
.built_in,
.builtin-name,
.literal,
.type,
.params {
  color: #935c25;
}

/* Atelier-Lakeside Green */
.string,
.symbol,
.bullet {
  color: #568c3b;
}

/* Atelier-Lakeside Blue */
.title,
.section {
  color: #257fad;
}

/* Atelier-Lakeside Purple */
.keyword,
.selector-tag {
  color: #6b6bb8;
}

.highlight {
  display: block;
  overflow-x: auto;
  background: #161b1d;
  color: #7ea2b4;
  padding: 0.5em;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
