/*
  codepen.io Embed Theme
  Author: Justin Perry <http://github.com/ourmaninamsterdam>
  Original theme - https://github.com/chriskempson/tomorrow-theme
*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #222;
  color: #fff;
}

.comment,
.quote {
  color: #777;
}

.variable,
.template-variable,
.tag,
.regexp,
.meta,
.number,
.built_in,
.builtin-name,
.literal,
.params,
.symbol,
.bullet,
.link,
.deletion {
  color: #ab875d;
}

.section,
.title,
.name,
.selector-id,
.selector-class,
.type,
.attribute {
  color: #9b869b;
}

.string,
.keyword,
.selector-tag,
.addition {
  color: #8f9c6c;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
