/*

Darcula color scheme from the JetBrains family of IDEs

*/


.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b;
}

.highlight {
  color: #bababa;
}

.strong,
.emphasis {
  color: #a8a8a2;
}

.bullet,
.quote,
.link,
.number,
.regexp,
.literal {
  color: #6896ba;
}

.code,
.selector-class {
  color: #a6e22e;
}

.emphasis {
  font-style: italic;
}

.keyword,
.selector-tag,
.section,
.attribute,
.name,
.variable {
  color: #cb7832;
}

.params {
  color: #b9b9b9;
}

.string {
  color: #6a8759;
}

.subst,
.type,
.built_in,
.builtin-name,
.symbol,
.selector-id,
.selector-attr,
.selector-pseudo,
.template-tag,
.template-variable,
.addition {
  color: #e0c46c;
}

.comment,
.deletion,
.meta {
  color: #7f7f7f;
}
