/*

Dracula Theme v1.2.0

https://github.com/zenorocha/dracula-theme

Copyright 2015, All rights reserved

Code licensed under the MIT license
http://zenorocha.mit-license.org

@author Éverton Ribeiro <nuxlli@gmail.com>
@author Zeno Rocha <hi@zenorocha.com>

*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282a36;
}

.keyword,
.selector-tag,
.literal,
.section,
.link {
  color: #8be9fd;
}

.function -keyword {
  color: #ff79c6;
}

,
.subst {
  color: #f8f8f2;
}

.string,
.title,
.name,
.type,
.attribute,
.symbol,
.bullet,
.addition,
.variable,
.template-tag,
.template-variable {
  color: #f1fa8c;
}

.comment,
.quote,
.deletion,
.meta {
  color: #6272a4;
}

.keyword,
.selector-tag,
.literal,
.title,
.section,
.doctag,
.type,
.name,
.strong {
  font-weight: bold;
}

.emphasis {
  font-style: italic;
}
