/*

FAR Style (c) MajestiC <majestic2k@gmail.com>

*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #000080;
}

,
.subst {
  color: #0ff;
}

.string,
.attribute,
.symbol,
.bullet,
.built_in,
.builtin-name,
.template-tag,
.template-variable,
.addition {
  color: #ff0;
}

.keyword,
.selector-tag,
.section,
.type,
.name,
.selector-id,
.selector-class,
.variable {
  color: #fff;
}

.comment,
.quote,
.doctag,
.deletion {
  color: #888;
}

.number,
.regexp,
.literal,
.link {
  color: #0f0;
}

.meta {
  color: #008080;
}

.keyword,
.selector-tag,
.title,
.section,
.name,
.strong {
  font-weight: bold;
}

.emphasis {
  font-style: italic;
}
