/*

Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>

*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #fff;
}

.subst,
.title {
  font-weight: normal;
  color: #000;
}

.comment,
.quote {
  color: #808080;
  font-style: italic;
}

.meta {
  color: #808000;
}

.tag {
  background: #efefef;
}

.section,
.name,
.literal,
.keyword,
.selector-tag,
.type,
.selector-id,
.selector-class {
  font-weight: bold;
  color: #000080;
}

.attribute,
.number,
.regexp,
.link {
  font-weight: bold;
  color: #0000ff;
}

.number,
.regexp,
.link {
  font-weight: normal;
}

.string {
  color: #008000;
  font-weight: bold;
}

.symbol,
.bullet,
.formula {
  color: #000;
  background: #d0eded;
  font-style: italic;
}

.doctag {
  text-decoration: underline;
}

.variable,
.template-variable {
  color: #660e7a;
}

.addition {
  background: #baeeba;
}

.deletion {
  background: #ffc8bd;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
