/* Ocean Dark Theme */
/* https://github.com/gavsiu */
/* Original theme - https://github.com/chriskempson/base16 */

/* Ocean Comment */
.comment,
.quote {
  color: #65737e;
}

/* Ocean Red */
.variable,
.template-variable,
.tag,
.name,
.selector-id,
.selector-class,
.regexp,
.deletion {
  color: #bf616a;
}

/* Ocean Orange */
.number,
.built_in,
.builtin-name,
.literal,
.type,
.params,
.meta,
.link {
  color: #d08770;
}

/* Ocean Yellow */
.attribute {
  color: #ebcb8b;
}

/* Ocean Green */
.string,
.symbol,
.bullet,
.addition {
  color: #a3be8c;
}

/* Ocean Blue */
.title,
.section {
  color: #8fa1b3;
}

/* Ocean Purple */
.keyword,
.selector-tag {
  color: #b48ead;
}

.highlight {
  display: block;
  overflow-x: auto;
  background: #2b303b;
  color: #c0c5ce;
  padding: 0.5em;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
