/*
    Paraíso (light)
    Created by Jan T. Sott (http://github.com/idleberg)
    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)
*/

/* Paraíso Comment */
.comment,
.quote {
  color: #776e71;
}

/* Paraíso Red */
.variable,
.template-variable,
.tag,
.name,
.selector-id,
.selector-class,
.regexp,
.link,
.meta {
  color: #ef6155;
}

/* Paraíso Orange */
.number,
.built_in,
.builtin-name,
.literal,
.type,
.params,
.deletion {
  color: #f99b15;
}

/* Paraíso Yellow */
.title,
.section,
.attribute {
  color: #fec418;
}

/* Paraíso Green */
.string,
.symbol,
.bullet,
.addition {
  color: #48b685;
}

/* Paraíso Purple */
.keyword,
.selector-tag {
  color: #815ba4;
}

.highlight {
  display: block;
  overflow-x: auto;
  background: #e7e9db;
  color: #4f424c;
  padding: 0.5em;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
