/*

PureBASIC native IDE style ( version 1.0 - April 2016 )

by Tristano Ajmone <tajmone@gmail.com>

Public Domain

NOTE_1:	PureBASIC code syntax highlighting only applies the following classes:
			-comment
			-function
			-keywords
			-string
			-symbol

		Other classes are added here for the benefit of styling other languages with the look and feel of PureBASIC native IDE style.
		If you need to customize a stylesheet for PureBASIC only, remove all non-relevant classes -- PureBASIC-related classes are followed by
		a "--- used for PureBASIC ... ---" comment on same line.

NOTE_2:	Color names provided in comments were derived using "Name that Color" online tool:
			http://chir.ag/projects/name-that-color
*/

.highlight { /* Common set of rules required by highlight.js (don'r remove!) */
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #FFFFDF; /* Half and Half (approx.) */
/* --- Uncomment to add PureBASIC native IDE styled font!
	font-family: Consolas;
*/
}

, /* --- used for PureBASIC base color --- */
.type,  /* --- used for PureBASIC Procedures return type --- */
.function, /* --- used for wrapping PureBASIC Procedures definitions --- */
.name,
.number,
.attr,
.params,
.subst {
	color: #000000; /* Black */
}

.comment, /* --- used for PureBASIC Comments --- */
.regexp,
.section,
.selector-pseudo,
.addition {
	color: #00AAAA; /* Persian Green (approx.) */
}

.title, /* --- used for PureBASIC Procedures Names --- */
.tag,
.variable,
.code  {
	color: #006666; /* Blue Stone (approx.) */
}

.keyword, /* --- used for PureBASIC Keywords --- */
.class,
.meta-keyword,
.selector-class,
.built_in,
.builtin-name {
	color: #006666; /* Blue Stone (approx.) */
	font-weight: bold;
}

.string, /* --- used for PureBASIC Strings --- */
.selector-attr {
	color: #0080FF; /* Azure Radiance (approx.) */
}

.symbol, /* --- used for PureBASIC Constants --- */
.link,
.deletion,
.attribute {
	color: #924B72; /* Cannon Pink (approx.) */
}

.meta,
.literal,
.selector-id {
	color: #924B72; /* Cannon Pink (approx.) */
	font-weight: bold;
}

.strong,
.name {
	font-weight: bold;
}

.emphasis {
	font-style: italic;
}
