/*

 highlight.js style for Microtik RouterOS script

*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0;
}

/* Base color: saturation 0; */

,
.subst {
  color: #444;
}

.comment {
  color: #888888;
}

.keyword,
.selector-tag,
.meta-keyword,
.doctag,
.name {
  font-weight: bold;
}

.attribute {
  color: #0E9A00;
}    

.function {
  color: #99069A;
}

.builtin-name {
  color: #99069A;
}

/* User color: hue: 0 */

.type,
.string,
.number,
.selector-id,
.selector-class,
.quote,
.template-tag,
.deletion {
  color: #880000;
}

.title,
.section {
  color: #880000;
  font-weight: bold;
}

.regexp,
.symbol,
.variable,
.template-variable,
.link,
.selector-attr,
.selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

.literal {
  color: #78A960;
}

.built_in,
.bullet,
.code,
.addition {
  color: #0C9A9A;
}


/* Meta color: hue: 200 */

.meta {
  color: #1f7199;
}

.meta-string {
  color: #4d99bf;
}


/* Misc effects */

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
