/*

School Book style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 15px 0.5em 0.5em 30px;
  font-size: 11px;
  line-height:16px;
}

pre{
  background:#f6f6ae url(./school-book.png);
  border-top: solid 2px #d2e8b9;
  border-bottom: solid 1px #d2e8b9;
}

.keyword,
.selector-tag,
.literal {
  color:#005599;
  font-weight:bold;
}

,
.subst {
  color: #3e5915;
}

.string,
.title,
.section,
.type,
.symbol,
.bullet,
.attribute,
.built_in,
.builtin-name,
.addition,
.variable,
.template-tag,
.template-variable,
.link {
  color: #2c009f;
}

.comment,
.quote,
.deletion,
.meta {
  color: #e60415;
}

.keyword,
.selector-tag,
.literal,
.doctag,
.title,
.section,
.type,
.name,
.selector-id,
.strong {
  font-weight: bold;
}

.emphasis {
  font-style: italic;
}
