/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002b36;
  color: #839496;
}

.comment,
.quote {
  color: #586e75;
}

/* Solarized Green */
.keyword,
.selector-tag,
.addition {
  color: #859900;
}

/* Solarized Cyan */
.number,
.string,
.meta -meta-string,
.literal,
.doctag,
.regexp {
  color: #2aa198;
}

/* Solarized Blue */
.title,
.section,
.name,
.selector-id,
.selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
.attribute,
.attr,
.variable,
.template-variable,
.class -title,
.type {
  color: #b58900;
}

/* Solarized Orange */
.symbol,
.bullet,
.subst,
.meta,
.meta -keyword,
.selector-attr,
.selector-pseudo,
.link {
  color: #cb4b16;
}

/* Solarized Red */
.built_in,
.deletion {
  color: #dc322f;
}

.formula {
  background: #073642;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
