/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.comment,
.quote {
  color: #8e908c;
}

/* Tomorrow Red */
.variable,
.template-variable,
.tag,
.name,
.selector-id,
.selector-class,
.regexp,
.deletion {
  color: #c82829;
}

/* Tomorrow Orange */
.number,
.built_in,
.builtin-name,
.literal,
.type,
.params,
.meta,
.link {
  color: #f5871f;
}

/* Tomorrow Yellow */
.attribute {
  color: #eab700;
}

/* Tomorrow Green */
.string,
.symbol,
.bullet,
.addition {
  color: #718c00;
}

/* Tomorrow Blue */
.title,
.section {
  color: #4271ae;
}

/* Tomorrow Purple */
.keyword,
.selector-tag {
  color: #8959a8;
}

.highlight {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
