head
  block head
    include ../includes/head.pug

#wrapper
  body
    include ../includes/header.pug
    
    main
      block content
      
    include ../includes/footer.pug
    include ../includes/cookies.pug
