html
  font-family 'Roboto', 'Helvetica', sans-serif
  font-weight 300
  line-height 1.75rem
  color c-primary

h1, h2, h3, h4, h5, h6
  font-family 'Quicksand', 'Helvetica', sans-serif
  font-weight 300
  text-align center

h2
  color c-secondary

b
  font-weight 500

a
  color c-primary
  text-decoration none

  &:hover, &:active
    color c-highlight

.post_content a, .page_content a
  color c-lowlight

  &:before
    content '\f0c1'  // It's a chain, i.e. a link!
    font-family 'Font Awesome 5 Pro', 'Font Awesome 5 Free'
    font-size 0.66em
    margin 0 0.33em

  &:hover, &:active
    color c-highlight

::selection
  color c-background
  background-color c-primary

::-moz-selection
  color c-background
  background-color c-primary

for font in hexo-config('fonts')
  @import 'fonts/' + font

