@require 'colours'

#wrapper > footer
  width 100%
  margin-top auto  // Align to bottom of container

  color c-secondary
  font-size 0.8em
  line-height 1em
  text-align center

  i.fa:before
    color c-lowlight
