extends templates/page.pug

include mixins/fontawesome.pug

append head
  title= config.title

block content
  center(style='margin: 5em')
    if (config.halcyon)
      if (config.halcyon.index_glyph)
        +fa(config.halcyon.index_glyph, '5x')
      if (config.halcyon.index_message)
        h1= config.halcyon.index_message

