extends templates/page.pug

include mixins/fontawesome.pug

append head
  title= page.title + ' | ' + config.title

block content
  article
    h1= page.title
    .post_content
      p!=page.content

    .post-footer
      //- TODO: implement default category when we don't have any categories
      //-       Tags do not need this kind of behaviour as there are no default tags.
      if page.categories.length > 0
        .post-categories
          +fa('folder-open')
          | 
          each cat, index in page.categories.data
            if index == 0
              | #[a(href=url_for('/' + cat.path))= cat.name]
            else
              | 
              | #[+fa('long-arrow-right')]
              | #[a(href=url_for('/' + cat.path))= cat.name]

      if page.tags.length != 0
        .post-tags
          if page.tags.length == 1
            +fa('tag')
          else
            +fa('tags')
          | 
          each tag, index in page.tags.data
            if index == 0
              | #[a(href=url_for('/' + tag.path))= tag.name]
            else
              | , 
              | #[a(href=url_for('/' + tag.path))= tag.name]
